*, *:before, *:after {
    box-sizing: border-box;
}

body {
    background-color: #06060E;
    color: #E2E2F3;
    display: grid;
    justify-content: center;
    justify-items: center;
    font-family: 'Mochiy Pop P One', sans-serif;
 
}


.keyLabel, #hint-txt {
    letter-spacing: 0.1rem;
    user-select: none;
    color: #06060E;
    margin: 0;
}

h1 {
    font-family: 'Gloria Hallelujah', cursive;
    text-align: center;
    font-size: 40px;
    background: #F1F1F9;
    background: -webkit-repeating-linear-gradient(to right, #F1F1F9 30%, #B8B8E0 59%, #F1F1F9 70%);
    background: -moz-repeating-linear-gradient(to right, #F1F1F9 30%, #B8B8E0 59%, #F1F1F9 70%);
    background: repeating-linear-gradient(to right, #F1F1F9 30%, #B8B8E0 59%, #F1F1F9 70%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 5px;
}


#hit-inc-container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: center;
    width: 40px;
    height: 370px;
    border-radius: 2em;
}

.hit-inc {
    background-color: #323b33;
    flex-grow: 1;
    flex-basis: 0;
    border-top: 2px solid #06060E;
    width: 40px;
}

.hit-inc-active {
    background: radial-gradient(ellipse at center, #acf0b2 0%, #56fd64 100%);

}

.hit-inc:first-of-type {
    border-bottom: none;
    border-bottom-left-radius: 2em;
    border-bottom-right-radius: 2em;
}

.hit-inc:last-of-type {
    border-top: none;
    border-top-left-radius: 2em;
    border-top-right-radius: 2em;
}

.miss-box-container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: center;
    width: 40px;
    height: 370px;
    border-radius: 2em;
}

.miss-inc {
    background-color: #3a2a2a;
    flex-grow: 1;
    flex-basis: 0;
    border-top: 2px solid #06060E;
    width: 40px;
}

.miss-inc-active {
    background: radial-gradient(ellipse at center, #cf8787 0%, #d62121 100%);

}

.miss-inc:first-of-type {
    border-bottom: none;
    border-bottom-left-radius: 2em;
    border-bottom-right-radius: 2em;
}

.miss-inc:last-of-type {
    border-top: none;
    border-top-left-radius: 2em;
    border-top-right-radius: 2em;
}


#keyboard-section {
    display: flex;
    justify-content: space-between;
    width: 750px;
    align-items: flex-end;
}











.score-container {
    color: black;
    display: flex;
    background-color: rgb(44, 44, 44);
    width: 220px;
    height: 75px;
    margin-top: 1rem;
    padding: 10px;
    border-radius: 2rem;
    font-size: 1.5rem;
}

.hit-box, .miss-box {
    flex-grow: 1;
    margin: .3rem;
    border-radius: 2rem;
    padding: .4rem;
    text-align: center;
}

.hit-box {
    background-color: #56fd64;
}

.miss-box {
    background-color: #d62121;
}



#blanks-container {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 620px;
    height: 160px;
    background: #1e2146;
    box-shadow: -1px 12px 15px 2px #b8b8e03d, inset 0px 0px 7px 4px #9A9AD5;
    border-radius: 1.5rem;
    padding: 2rem;
    gap: 4px;
    margin-bottom: 1rem;

}

.words-box {
    display: inline-flex;
    align-self: flex-start;
    font-size: 2rem;
    margin: 6px;
    user-select: none;
    background: #2B2F64;
    border-radius: 5px;
}

.blanks-box-revealed {
    font-family: 'Azeret Mono', monospace;
    border-bottom: 3px solid white;
    margin: 3px;
    color: white;
    user-select: none;
}

.blanks-box-hidden {
    font-family: 'Azeret Mono', monospace;
    border-bottom: 3px solid white;
    margin: 3px;
    color: #2B2F64;
    user-select: none;
}

#congrats {
    display: none;
}


#button-container {
    display: flex;
    justify-content: space-around;
    width: 620px;
}

button {
    display: block;
    border: 2px solid #B8B8E0;
    margin: 1rem;
    padding: .5rem;
    border-radius: 1.3rem;
    background: #020024;
    box-shadow: 2px 2px 8px #CECECE;
    background: radial-gradient(ellipse at center, #D4D4ED 30%, #242456 100%);
    font-family: 'Mochiy Pop P One', sans-serif;
    color: #242456;
    font-size: 1.3rem;
    user-select: none;
}

button:hover {
    cursor: pointer;
    background: radial-gradient(ellipse at center, #ffffff 30%, #35356e 100%);

}

button:active {
    transform: translatex(2px) translatey(2px);
    box-shadow: 0px 0px 10px #CECECE;

}


#keyboard-container {
    display: grid;
    gap: 20px 20px;
    grid-template-areas:
        ". . . . . . ."
        ". . . . . . ."
        ". . . . . . ."
        ". . . . . . .";
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    width: 620px;
    height: 370px;
    background: #1e2146;
    box-shadow: -1px 12px 15px 2px #b8b8e03d, inset 0px 0px 7px 4px #9A9AD5;
    border-radius: 1.5rem;
    margin-top: 1rem;

}



.key-div {
    display: grid;
    grid-template-columns: 60px;
    grid-template-rows: 60px;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2.5rem;
    border-radius: 1.3rem;
    font-family: 'Mochiy Pop P One', sans-serif;
    font-size: 2rem;
    user-select: none;
}

.key-div-neutral {
    border: 2px solid #B8B8E0;
    background: #020024;
    box-shadow: 2px 2px 8px #CECECE;
    background: radial-gradient(ellipse at center, #D4D4ED 0%, #242456 100%);
}

.key-div-success {
    border: 2px solid #02ee16;
    background: #020024;
    box-shadow: 2px 2px 8px #16dd37;
    background: radial-gradient(ellipse at center, #D4D4ED 0%, #21d63f 100%);
}

.key-div-failure {
    border: 2px solid #d62121;
    background: #020024;
    box-shadow: 2px 2px 8px #d62121;
    background: radial-gradient(ellipse at center, #D4D4ED 0%, #d62121 100%);
}

.key-div-game-over {
    opacity: 0.5;
}


.key-div-neutral:hover {
    cursor: pointer;
    background: radial-gradient(ellipse at center, #ffffff 0%, #35356e 100%);
    color: #35356e;
}


.key-div-neutral:active {
    transform: translatex(2px) translatey(2px) scale(.95);
    box-shadow: 0px 0px 10px #CECECE;
    font-size: 1.9rem;
}

.outside {
    font-family: 'Courier New', Courier, monospace
  }


  .snow {
    animation: fall linear forwards;
    animation-iteration-count: infinite;
    position: absolute;
    top: -20px;
    left: 0;
  }
  
  @keyframes fall {
    to {
      transform: translateY(100vh);
    }
  }
  