*, *:before, *:after {
    box-sizing: border-box;
}

body {
    background-color: #06060E;
    color: #E2E2F3;
    display: block;
    justify-content: center;
    justify-items: center;
    align-items: flex-end;
    font-family: 'Azeret Mono', monospace;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: flex-end;

}


#snowman-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #181b2b;
    box-shadow: 0px 0px 20px #1d305d;
    margin-right: 15px;
    padding-bottom: 23px;
    border-radius: 1rem;
}

#game-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 2px solid rgb(98, 98, 98); */
    padding: 10px;
}

#hint-txt {
    user-select: none;
    color: #06060E;
    margin: 0;
}

.keyLabel {
    letter-spacing: 0.05rem;
    user-select: none;
    /* color: #030b4d; */
    margin: 0;
}

h1 {
    font-family: 'Mochiy Pop P One', sans-serif;
    text-align: center;
    font-size: 30px;
    background: repeating-linear-gradient(to right, #F1F1F9 30%, #B8B8E0 59%, #F1F1F9 70%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 10px;
}

h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

#outcome-win, #outcome-loss {
    display: none;
}

#hit-inc-container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: center;
    width: 40px;
    height: 370px;
    border-radius: 2em;
}

.hit-inc {
    background-color: #282f47;
    flex-grow: 1;
    flex-basis: 0;
    border-top: 2px solid #06060E;
    width: 40px;
}

.hit-inc-active {
    background: radial-gradient(ellipse at center, #9ff2f5 0%, #27ecf3 100%);

}

.hit-inc:first-of-type {
    border-bottom: none;
    border-bottom-left-radius: 2em;
    border-bottom-right-radius: 2em;
}

.hit-inc:last-of-type {
    border-top: none;
    border-top-left-radius: 2em;
    border-top-right-radius: 2em;
}

.miss-inc-container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: center;
    width: 40px;
    height: 370px;
    border-radius: 2em;
}

.miss-inc {
    background-color: #342a2a;
    flex-grow: 1;
    flex-basis: 0;
    border-top: 2px solid #06060E;
    width: 40px;
}

.miss-inc-active {
    background: radial-gradient(ellipse at center, #cf8787 0%, #d62121 100%);

}

.miss-inc:first-of-type {
    border-bottom: none;
    border-bottom-left-radius: 2em;
    border-bottom-right-radius: 2em;
}

.miss-inc:last-of-type {
    border-top: none;
    border-top-left-radius: 2em;
    border-top-right-radius: 2em;
}


#keyboard-section {
    display: flex;
    justify-content: space-between;
    width: 750px;
    align-items: flex-end;
}

#blanks-container {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    width: 620px;
    height: 160px;
    background: #1d305d;
    box-shadow: -1px 12px 15px 2px #b8b8e03d, inset 0px 0px 7px 4px #9A9AD5;
    border-radius: 1.5rem;
    padding: 2rem;
    gap: 4px;
    margin-bottom: 1rem;
}

.words-box {
    display: inline-flex;
    font-size: 2rem;
    margin: 6px;
    user-select: none;
    background: #1d305d;
    border-radius: 5px;
}

.blanks-box-revealed {
    font-family: 'Azeret Mono', monospace;
    border-bottom: 3px solid white;
    margin: 3px;
    color: white;
    user-select: none;
}

.blanks-box-hidden {
    font-family: 'Azeret Mono', monospace;
    border-bottom: 3px solid white;
    margin: 3px;
    color: #1d305d;
    user-select: none;
}

#congrats {
    display: none;
}


#button-container {
    display: flex;
    justify-content: space-around;
    width: 620px;
}

button {
    border: 2px solid #B8B8E0;
    margin: 1rem;
    padding: .5rem 1.6rem;
    border-radius: 1.3rem;
    box-shadow: 2px 2px 8px #CECECE;
    background: radial-gradient(ellipse at center, #f4faff 5%, #3348a8 100%);
    font-family: 'Mochiy Pop P One', sans-serif;
    color: #030b4d;
    font-size: 1.3rem;
    user-select: none;
}

button:hover {
    cursor: pointer;
    background: radial-gradient(ellipse at center, #ffffff 30%, #3348a8 100%);

}

button:active {
    transform: translatex(2px) translatey(2px);
    box-shadow: 0px 0px 10px #CECECE;

}


#keyboard-container {
    display: grid;
    gap: 20px 20px;
    grid-template-areas:
        ". . . . . . ."
        ". . . . . . ."
        ". . . . . . ."
        ". . . . . . .";
    justify-content: center;
    align-content: center;
    width: 620px;
    height: 370px;
    background: #1d305d;
    box-shadow: -1px 12px 15px 2px #b8b8e03d, inset 0px 0px 7px 4px #9A9AD5;
    border-radius: 1.5rem;
    margin-top: 1rem;
}



.key-div {

    display: grid;
    grid-template-columns: 60px;
    grid-template-rows: 60px;
    align-items: center;
    text-align: center;
    border-radius: 1.3rem;
    font-family: 'Azeret Mono', monospace;
    font-size: 2.5rem;
    user-select: none;
}

.key-div-neutral {
    color: #030b4d;
    border: 2px solid #B8B8E0;
    box-shadow: 2px 2px 8px #CECECE;
    background: radial-gradient(ellipse at center, #D4D4ED 0%, #3348a8 100%);
}

.key-div-neutral:hover {
    cursor: pointer;
    background: radial-gradient(ellipse at center, #ffffff 0%, #768cef 100%);
}


.key-div-neutral:active {
    transform: translatex(2px) translatey(2px) scale(.95);
    box-shadow: 0px 0px 10px #CECECE;
    font-size: 2.3rem;
}

.key-div-success {
    color: #355967;
    border: 2px solid #d0faff;
    background: radial-gradient(ellipse at center, #c5f3f5 20%, #27ecf3 100%);
    transform: scale(.7)
}

.key-div-failure {
    color: #6f4848;
    border: 2px solid #ffa0a0;
    background: radial-gradient(ellipse at center, #D4D4ED 0%, #e21818 100%);
    transform: scale(.7)
}

.key-div-game-over {
    opacity: 0.5;
}


.outside {
    font-family: 'Courier New', Courier, monospace
}


.snow {
    animation: fall linear forwards;
    animation-iteration-count: infinite;
    position: absolute;
    top: -20px;
    left: 0;
    user-select: none;
    z-index: -2000;
}

@keyframes fall {
    to {
        transform: translateY(97vh);
    }
}

/* SNOWMAN */



.hat {
    width: 2em;
    height: 2em;
    background-color: #8cf2ff;
    border-top: solid white 0.4em;
    border-bottom: solid white 0.5em;
    border-radius: 50%;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    visibility: hidden;
    transform: translatey(22px)
}

.head {
    width: 5em;
    height: 5em;
    background: radial-gradient(ellipse at center, #ffffff 0%, #c8fafb 100%);
    box-shadow: 0px 0px 7px #CECECE;
    border-radius: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    visibility: hidden;
    transform: translatey(17px);
    z-index: 3;
}

/* Eyes */

.eye-container {
    padding-top: 0.5em;
    width: 40%;
    display: flex;
    justify-content: space-between;
    visibility: hidden;
    transform: translatey(3px);
}

.eye1 {
    width: 0.75em;
    height: 0.75em;
    background: radial-gradient(ellipse at center, #579cdd 0%, #0f2435 50%);
    border-radius: 50%;
    visibility: hidden;
}

.eye2 {
    width: 0.75em;
    height: 0.75em;
    background: radial-gradient(ellipse at center, #579cdd 0%, #0f2435 50%);
    border-radius: 50%;
    visibility: hidden;
}

.nose {
    width: 2em;
    height: 1em;
    background-color: #ff8416;
    border-top: solid #f96a00 0.4em;
    border-bottom: solid #f0881e 0.5em;
    clip-path: polygon(-13% -16%, 38% 103%, 113% 148%);
    visibility: hidden;


}

.mouth {
    width: 2.5em;
    height: 1em;
    border-bottom: dotted black 3px;
    border-radius: 50%;
    visibility: hidden;
    transform: translatey(-8px)
}

/* Middle of body */

.mid-container {
    display: flex;
    align-items: center;
}

.body-middle {
    width: 8em;
    height: 8em;
    background: radial-gradient(ellipse at center, #ffffff 0%, #c8fafb 100%);
    box-shadow: 0px 0px 10px #CECECE;
    border-radius: 42%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    visibility: hidden;
    transform: translatey(14px);
    z-index: 2;
}

.buttons {
    width: 0.5em;
    height: 0.5em;
    background: radial-gradient(ellipse at center, #7e7e7e 0%, #000000 80%);
    border-radius: 50%;
    visibility: hidden;
}

.arm1 {
    width: 4em;
    height: 0.5em;
    background-color: #5c2f05;
    transform: rotate(34deg) translateY(-24px);
    visibility: hidden;
}

.arm2 {
    width: 4em;
    height: 0.5em;
    background-color: #5c2f05;
    transform: rotate(-34deg) translateY(-24px);
    visibility: hidden;
}

.body-bottom {
    width: 10em;
    height: 10em;
    background: radial-gradient(ellipse at center, #ffffff 0%, #c8fafb 100%);
    box-shadow: 0px 0px 15px #CECECE;
    border-radius: 43%;
    position: relative;
    visibility: hidden;

}

.floor {
    width: 13em;
    height: 5em;
    background-color: #3e3e3f;
    box-shadow: 0px 10px 10px #3e3e3f;
    border-radius: 57%;
    transform: rotate3d(3, 1, 1, 288deg) translate(-196px, 263px);
    visibility: visible;
    position: absolute;
    z-index: -1000;
}

.change-log {
    padding-top: 10rem;
}


@media (max-width: 1080px) {

    #blanks-container {
        width: 350px;
        height: 85px;
        box-shadow: -1px 3px 3px 2px #b8b8e03d, inset 0px 0px 7px 4px #9A9AD5;
        border-radius: 1.2rem;
        padding: 6px;
        gap: 4px;
        margin-bottom: 10px;
    }

    .words-box {
        font-size: 1rem;
        margin: 2px;
        background: #1d305d;
        border-radius: 5px;
    }

    .blanks-box-revealed {
        border-bottom: 1px solid white;
        margin: 2px;
        color: white;
    }

    .blanks-box-hidden {
        border-bottom: 1px solid white;
        margin: 2px;
        color: #1d305d;
    }

    #hint-txt {
        font-size: 10px;
        width: 350px;
        text-align: center;
    }

    #button-container {
        padding: 0px;
        width: 350px;
        margin: 0px;
    }

    button {
        border: 1px solid #B8B8E0;
        margin: 10px;
        padding: .2rem 1rem;
        border-radius: 1.3rem;
        box-shadow: 1px 1px 4px #CECECE;
        background: radial-gradient(ellipse at center, #f4faff 5%, #3348a8 100%);
        font-size: 10px;
    }

    button:hover {
        cursor: pointer;
        background: radial-gradient(ellipse at center, #ffffff 30%, #3348a8 100%);

    }

    button:active {
        transform: translatex(2px) translatey(2px);
        box-shadow: 0px 0px 5px #CECECE;
    }

    h2 {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 15px;
        margin: 0px;
        width: 350px;
        text-align: center;
    }
/*----------Keyboard Area------------------------*/
    #keyboard-section {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 350px;
        align-items: flex-end;
    }

    #keyboard-container {
        order: 2;
        display: grid;
        gap: 9px 9px;
        width: 350px;
        height: 170px;
        background: #1d305d;
        box-shadow: -1px 3px 3px 2px #b8b8e03d, inset 0px 0px 3px 1px #9A9AD5;
    }

    #hit-inc-container {
        order: 1;
        display: flex;
        flex-direction: column-reverse;
        justify-content: flex-start;
        align-items: center;
        width: 40px;
        height: 170px;
        border-radius: 2em;
    }
    
    .hit-inc {
        background-color: #282f47;
        flex-grow: 1;
        flex-basis: 0;
        border-top: 2px solid #06060E;
        width: 40px;
    }
    
    .miss-inc-container {
        order: 3;
        display: flex;
        flex-direction: column-reverse;
        justify-content: flex-start;
        align-items: center;
        width: 10px;
        height: 170px;
        border-radius: 2em;
    }
    
    .miss-inc {
        background-color: #342a2a;
        flex-grow: 1;
        flex-basis: 0;
        border-top: 2px solid #06060E;
        width: 40px;
    }

    .key-div {
        grid-template-columns: 30px;
        grid-template-rows: 30px;
        border-radius: 10px;
        font-size: 20px;
    }

    .key-div-neutral {
        border: 1px solid #B8B8E0;
        box-shadow: 1px 1px 3px #CECECE;
    }


    .key-div-neutral:active {
        box-shadow: 0px 0px 5px #CECECE;
        font-size: 17px;
    }

    .key-div-success {
        border: 1px solid #d0faff;
        transform: scale(.8)
    }

    .key-div-failure {
        border: 1px solid #ffa0a0;
        transform: scale(.8)
    }



    .hit-inc-active {
        background: radial-gradient(ellipse at center, #9ff2f5 0%, #27ecf3 100%);

    }

    .hit-inc:first-of-type {
        border-bottom: none;
        border-bottom-left-radius: 2em;
        border-bottom-right-radius: 2em;
    }

    .hit-inc:last-of-type {
        border-top: none;
        border-top-left-radius: 2em;
        border-top-right-radius: 2em;
    }



    .miss-inc-active {
        background: radial-gradient(ellipse at center, #cf8787 0%, #d62121 100%);

    }

    .miss-inc:first-of-type {
        border-bottom: none;
        border-bottom-left-radius: 2em;
        border-bottom-right-radius: 2em;
    }

    .miss-inc:last-of-type {
        border-top: none;
        border-top-left-radius: 2em;
        border-top-right-radius: 2em;
    }

}